{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "rules": {
    "react/sort-comp": [1, {
      "order": [
        "constructor",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }],
    "react/jsx-filename-extension": [0]
  },
  "globals": {
    "alert": true
  }
}